<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [8]:
import pandas as pd

df=pd.DataFrame({'Name':['Staney','Michael','Phyllis'],'Title':['Sales','Manager','Sales'],'Seniority':[10,10,10]})

1) plot the first three rows:

In [9]:
df.head(3)

      Name    Title  Seniority
0   Staney    Sales         10
1  Michael  Manager         10
2  Phyllis    Sales         10

2) obtain column  <code> 'a' </code>

In [11]:
df['Seniority']

0    10
1    10
2    10
Name: Seniority, dtype: int64

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>